html, body {
    height:100%;
    width:100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: grey;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ffffff' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas:
        ". topSection ."
        ". bottomSection .";
    box-shadow:inset 0 0 130px #000000;
}

#topSection {
    /*width:200px;*/
    /*padding: 0;*/
    /*margin: 0;*/
    display: grid;
    /*grid-area: topSection;*/
    /*grid-template-columns: 10% 1fr 10%;*/
    /*grid-template-areas:*/
            /*". breather .";*/
    justify-self: center;
}

.breather {
    grid-area: breather;
    justify-self: center;
    /*height: 70%;*/
}

#breathText {
    margin: 0;
}

#bottomSection {
    width:70%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-area: bottomSection;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas:
            ". words ."
            "minus bpm plus";
    justify-self: center;
}

.words {
    grid-area: words;
    justify-self: center;
}

#minus {
    grid-area: minus;
    height: 50px;
    justify-self: right;
    font-size: 25px;
    margin-top: 20px;
}

.bpm {
    grid-area: bpm;
    height: 100px;
    justify-self: center;
}

.bpm p {
    text-align: center;
    font-size: 20px;
    margin:0;
}

#plus {
    grid-area: plus;
    height: 50px;
    justify-self: left;
    font-size: 25px;
    margin-top: 20px;
}

.square {
    margin: 100px;
    width: 100px;
    height: 100px;
    background: #adadad;
}

#circle {
    margin: 50px 0 25px 0;
    background: #f37266;
    width: 200px;
    height: 200px;
    /*margin: auto;*/
    border-radius: 100%;
    overflow: hidden;
}

#circle span {
    display: block;
    font-size: 240px;
    color: #fff;
    height: 200px;
    width: 200px;
    text-align: center;
    padding-top: 54%;
}


#circle {
    /*-webkit-animation: grow 22s;*/
    /*-webkit-animation: grow 10s infinite;*/
    /*-webkit-animation: grow infinite;*/
}


#inhale {
    /*-webkit-animation: inhale 6s infinite;*/
    /*visibility: hidden;*/
    /*display:block;*/
    opacity: 1;
    /*z-index:1;*/
    color: green;
    font-size: 30px;
    font-weight: bold;
    margin:0;
}

#exhale {
    /*-webkit-animation: exhale 6s infinite;*/
    /*visibility: hidden;*/
    /*display:block;*/
    opacity: 1;
    /*z-index:1;*/
    color: firebrick;
    font-size: 30px;
    font-weight: bold;
    margin:0;
}

@-webkit-keyframes grow {
    0% {
        border-radius: 40%;
        background: #adadad;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    50% {
        border-radius: 100%;
        background: #bf1e2c;
        -webkit-transform: scale(0.2);
        -moz-transform: scale(0.2);
        -o-transform: scale(0.2);
        -ms-transform: scale(0.2);
        transform: scale(0.2);
    }

    80% {
        border-radius: 40%;
        background: #adadad;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    90% {
        /*-webkit-transform: rotate(90deg);*/
        /*-moz-transform: rotate(90deg);*/
        /*-o-transform: rotate(90deg);*/
        /*-ms-transform: rotate(90deg);*/
        transform: rotate(50deg);
    }

    100% {
        border-radius: 40%;
        background: #adadad;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes inhale {
    0% {
        /*visibility: hidden;*/
        /*display:none;*/
        opacity: 0;
        /*z-index:1;*/
    }

    49% {
        /*visibility: hidden;*/
        /*display:none;*/
        opacity: 0;
        /*z-index:1;*/
    }

    50% {
        /*visibility: inherit;*/
        /*display:block;*/
        opacity: 1;
        /*z-index:3;*/
    }

    95% {
        /*visibility: hidden;*/
        /*display:block;*/
        opacity: 1;
        /*z-index:3;*/
    }

    100% {
        /*visibility: hidden;*/
        /*display:block;*/
        opacity: 1;
        /*z-index:3;*/
    }
}

@-webkit-keyframes exhale {
    0% {
        /*visibility: hidden;*/
        /*display:block;*/
        opacity: 1;
        /*z-index:3;*/
    }

    49% {
        /*visibility: hidden;*/
        /*display:block;*/
        opacity: 1;
        /*z-index:3;*/
    }

    50% {
        /*visibility: inherit;*/
        /*display:none;*/
        opacity: 0;
        /*z-index:1;*/
    }

    95% {
        /*visibility: hidden;*/
        /*display:none;*/
        opacity: 0;
        /*z-index:1;*/
    }

    100% {
        /*visibility: hidden;*/
        /*display:none;*/
        opacity: 0;
        /*z-index:1;*/
    }
}